<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Bootstrap 4 Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

 <h1>ciao</h1>

	<div class="container-fluid">
		<div class="row">
			<div class="col-3" th:each="fo:${insiemeDog}">
 
				<div class="card" >
				
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						
						<p th:text="${dog.message}"> </p>

						<p th:text="${dog.status}"> </p>

						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
 
			</div>
		</div>
	</div>
</body>
</html>