<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>es macchinetta caffe cialde</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Features</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Pricing</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown link
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</li>
		  </ul>
		</div>
	  </nav>
	
	<div class="container mt-4">
		<div class="row my-2">
			<div class="col-md-4">
				<img class="img-fluid rounded-circle" src="https://www.qualescegliere.it/wp-content/uploads/2016/02/krups-nespresso-pixie-xn3005.png" alt="">
			</div>
			<div class="col-md-8">
				<h2>macchinetta</h2>
					<form th:action="@{/salva}"  th:object="${macchinettaCaffe}" method="post"> 
					<div class="form-group">
						<label for="">marca </label>
						<input type="text" name="marca" class="form-control" th:field="*{marca}" placeholder="marca macchinetta">
					</div>
					<div class="form-group">
						<label for="">prezzo </label>
						<input type="text" name="prezzo" class="form-control" th:field="*{prezzo}" placeholder="prezzo macchinetta ">
					</div>
				</form>
			</div>
		</div>
		
		<div class="row my-5">
			<div class="col-md-4">
				<img class="img-fluid rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWwiNd3D9J9ArrMVssT9HjQ8r6gj7MVBbYbA&usqp=CAU" alt="">
			</div>
			<div class="col-md-8">
				<h2>cialde</h2>
				<form th:action="@{/crea}"  th:object="${macchinettaCaffe}" method="post"> 
					<div class="form-group">
						<label for="">marca cialda</label>
						<input type="text" name="marca" class="form-control" th:field="*{cialda.marca}" placeholder="marca cialde">
					</div>
					<div class="form-group">
						<label for="">miscela cialda</label>
						<input type="text" name="miscela" class="form-control" th:field="*{cialda.miscela}" placeholder="miscela cialde">
					</div>
					<div class="form-group">
						<label for="">prezzo cialda</label>
						<input type="text" name="prezzo" class="form-control" th:field="*{cialda.prezzo}" placeholder="prezzo cialde ">
					</div>
					<button type="submit" class="btn btn-dark float-right">crea macchinetta</button>
				</div>
			</div>
		</div>



		<footer class="container-fluid bg-light py-5 ">
			<div class="row">
			  <div class="col-12 col-md">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
				<small class="d-block mb-3 text-muted">© 2017-2018</small>
			  </div>
			  <div class="col-6 col-md">
				<h5>Features</h5>
				<ul class="list-unstyled text-small">
				  <li><a class="text-muted" href="#">Cool stuff</a></li>
				  <li><a class="text-muted" href="#">Random feature</a></li>
				  <li><a class="text-muted" href="#">Team feature</a></li>
				  <li><a class="text-muted" href="#">Stuff for developers</a></li>
				  <li><a class="text-muted" href="#">Another one</a></li>
				  <li><a class="text-muted" href="#">Last time</a></li>
				</ul>
			  </div>
			  <div class="col-6 col-md">
				<h5>Resources</h5>
				<ul class="list-unstyled text-small">
				  <li><a class="text-muted" href="#">Resource</a></li>
				  <li><a class="text-muted" href="#">Resource name</a></li>
				  <li><a class="text-muted" href="#">Another resource</a></li>
				  <li><a class="text-muted" href="#">Final resource</a></li>
				</ul>
			  </div>
			  <div class="col-6 col-md">
				<h5>Resources</h5>
				<ul class="list-unstyled text-small">
				  <li><a class="text-muted" href="#">Business</a></li>
				  <li><a class="text-muted" href="#">Education</a></li>
				  <li><a class="text-muted" href="#">Government</a></li>
				  <li><a class="text-muted" href="#">Gaming</a></li>
				</ul>
			  </div>
			  <div class="col-6 col-md">
				<h5>About</h5>
				<ul class="list-unstyled text-small">
				  <li><a class="text-muted" href="#">Team</a></li>
				  <li><a class="text-muted" href="#">Locations</a></li>
				  <li><a class="text-muted" href="#">Privacy</a></li>
				  <li><a class="text-muted" href="#">Terms</a></li>
				</ul>
			  </div>
			</div>
		  </footer>
		
		
	</body>
	</html>