@charset "ISO-8859-1";
.TeamCard{
    background: linear-gradient(135deg, rgb(184, 215, 255), rgb(237, 245, 255), rgb(184, 215, 255));
    text-align: center;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 40px;
}

