/*
body{
	
	background:linear-gradient(90deg, rgba(230,230,230,0.3547928885630498) 
				0%, rgba(246,246,246,1) 50%, rgba(227,227,227,0.3518603372434017) 100%),
				url("https://images8.alphacoders.com/406/406030.jpg");

	background-repeat: no-repeat;
  	background-size: 100% 100%;
}
*/
.mojFooter{
    background-color: #f8f8f8;
    color: #00a651;
    padding-top: 0px;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 0px;
}

.bottom-footer{
    border-top: 1px solid #00a651;
    margin-top: 0px;
    padding-top: 7px;
    color: #00a651;

}

.footer-nav li{
    display: inline;
    padding: 0px 40px;
}

.footer-nav a{
    color: grey;
    text-decoration: none;
}


.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes lightSpeedOut {
  0% {
  opacity: 1;
  }
  100% {
  -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
  transform: translate3d(100%, 0, 0) skewX(30deg);
  opacity: 0;
  }
  }
  @keyframes lightSpeedOut {
  0% {
  opacity: 1;
  }
  100% {
  -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
  transform: translate3d(100%, 0, 0) skewX(30deg);
  opacity: 0;
  }
  } 