<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>es hotel camere sql</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>

	<body  style="font-family: 'Limelight', cursive;">
		
		<div th:insert="/fragments/crea-camera.html :: crea-camera" ></div>

		
		<div th:insert="/fragments/cancella-camera.html :: cancella-camera"></div>


		<div class="container mt-5 ">
			<div class="row">
				<div class="col-4 mt-3" th:each="camera : ${listaCamereDisponibili}">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${camera.nomeStanza}">	</h5>
							<p class="card-text" th:text="${camera.prezzoStanza}">	</p>
							<p class="card-text" th:text="${camera.tipologia}">	</p>
							<p class="card-text" th:text="${camera.isAvailable}">	</p>
							</div>
					  </div>
				</div>
			</div>
		</div>


	
		
	</body>
</html>