<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>esercizio auto corsa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<!-- navbar  -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown link
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container my-4 text-center">
		<div class="row">
			<div class="col-12">
				
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">
					crea auto e pilota
				</button>
				
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">crea auto e pilota</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/salva}"  th:object="${auto}" method="post">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" name="cognome" th:field="*{pilota.cognome}" placeholder="cognome">
							</div>
							<div class="col">
								<input type="number" class="form-control" name="esperienza" th:field="*{pilota.esperienza}" placeholder="esperienza">
							</div>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">team</label>
							<select class="form-control" id="exampleFormControlSelect1" type="text" name="team" th:field="*{team}">
								<option value="ferrari">scuderia ferrari</option>
								<option value="mercedes">scuderia mercedes</option>
								<option value="redbul">scuderia redbul</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">crea e salva</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">annulla</button>
				</div>
			</div>
		</div>
	</div>

	
	
	<!-- carousel  -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-11 mx-auto">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="https://img.wallpapic.it/i2450-843-127/medium/formula-1-auto-da-corsa-via-sport-motoristico-sfondo.jpg" alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="https://img.wallpapic.it/i0361-843-227/medium/ford-automobili-auto-da-corsa-supercar-sfondo.jpg" alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="https://data.1freewallpapers.com/detail/maserati-ghibli-trofeo-corse-2020-3-4k-cars.jpg" alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- pubblicita , card , pubblicità  -->
	<div class="container-fluid py-5">
		<div class="row">
			<div class="col-2 mx-auto ">
				<img src="https://i.pinimg.com/originals/0f/c6/4c/0fc64c4e52d1a4850c26eeadff7e5c47.jpg" height="150px" width="150px" alt="">	  
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfMr55K3XLnVLW4XbKX9CkOtPCW_Ji4B_g8-3F2U5G74U5ujmeJGGbAWRyTtte6kKw6qw&usqp=CAU" height="150px" width="150px" alt="">	  
				
			</div>
			
			<div class="col-8">
				<div class="row">
					<div class="card col-6 my-3 mx-auto" th:each="auto:${automobili}" style="width: 18rem;">
						<img class="card-img-top" src="https://img.wallpapic.it/i2450-843-127/medium/formula-1-auto-da-corsa-via-sport-motoristico-sfondo.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title" th:text="${auto.team}"></h5>
							<p class="card-text" th:text="${auto.pilota.cognome}"></p>
							<p class="card-text" th:text="${auto.pilota.esperienza}"></p>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="col-2 mx-auto">
				<img src="https://i.pinimg.com/originals/0f/c6/4c/0fc64c4e52d1a4850c26eeadff7e5c47.jpg" height="150px" width="150px" alt="">	  
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfMr55K3XLnVLW4XbKX9CkOtPCW_Ji4B_g8-3F2U5G74U5ujmeJGGbAWRyTtte6kKw6qw&usqp=CAU" height="150px" width="150px" alt="">	  
			</div>
		</div>
		
	</div>
	
	
	<div class="container">
		<div class="row">
			<div class="col-12 lightSpeedOut">
				<p>il vincitore è</p>
				<b th:text="${autoVincente.team}"></b>
			</div>
		</div>
	</div>



<!-- footer  -->
<footer class="container-fluid bg-light py-5 ">
	<div class="row">
		<div class="col-12 col-md">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
			<small class="d-block mb-3 text-muted">© 2017-2018</small>
		</div>
		<div class="col-6 col-md">
			<h5>Features</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Cool stuff</a></li>
				<li><a class="text-muted" href="#">Random feature</a></li>
				<li><a class="text-muted" href="#">Team feature</a></li>
				<li><a class="text-muted" href="#">Stuff for developers</a></li>
				<li><a class="text-muted" href="#">Another one</a></li>
				<li><a class="text-muted" href="#">Last time</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Resources</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Resource</a></li>
				<li><a class="text-muted" href="#">Resource name</a></li>
				<li><a class="text-muted" href="#">Another resource</a></li>
				<li><a class="text-muted" href="#">Final resource</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Resources</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Business</a></li>
				<li><a class="text-muted" href="#">Education</a></li>
				<li><a class="text-muted" href="#">Government</a></li>
				<li><a class="text-muted" href="#">Gaming</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>About</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Team</a></li>
				<li><a class="text-muted" href="#">Locations</a></li>
				<li><a class="text-muted" href="#">Privacy</a></li>
				<li><a class="text-muted" href="#">Terms</a></li>
			</ul>
		</div>
	</div>
</footer>

</body>
</html>