<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
    <div class="container">
        <p>ciaoooojdbhvfjbhfvilrbhj</p>

        <p th:text=${message}></p>
    </div>
    
</body>
</html>