<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/fetch.js"></script>
</head>
<body>

<div class="container">

	<div class="row">
	
		<div class="col-md-12 text-center">


       		<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nome</th>
			      <th scope="col">eta</th>
			      <th>Modifica</th>
			      <th>Cancella</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="persone : ${listaPersone}">
			    
			      <th scope="row" th:text="${persone.id}"></th>
			      <td th:text="${persone.nome}"></td>
			      <td th:text="${persone.eta}"></td>
			      <td><button class="btn btn-warning" data-toggle="modal" data-target="#modalModifica" th:value="${persone.id}">Modifica</button></td>
			      <td><a class="btn btn-danger" th:href="@{/cancellaPersona?id=} + ${persone.id}">Cancella</a></td>
			      
			    </tr>
			  </tbody>
			</table>

			
			
			
			<!-- Modal -->
			<div class="modal fade" id="modalModifica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        
			        
			        <form th:action="@{/modificaPersona}" method="post" th:object="${persona}">
			        
			        
			        	<label>Id</label><br>
			        	<input type="number" th:field="*{id}" id="id-persona" readonly="readonly"><br>
			        	
			        	<label>Nome persona</label><br>
			        	<input type="text" th:field="*{nome}" id="nome"><br>
			        
			        	<label>Eta</label><br>
			        	<input type="number" th:field="*{eta}" id="eta" ><br>
			        
			        
			        	<input type="submit"><br>
			        	
			        
			        </form>
			        
			        
			        
			        
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- fine MODAL -->
						
			

		</div>
	
	
	</div>



</div>




</body>
</html>