<!DOCTYPE html>
<html>
<head>

<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<p th:text="${lista}"></p>

<script>

$(document).ready(function(){
	//alert("dhshah");
	$.ajax({
		type: "get",
		url: "https://freegeoip.app/json/",

		success: function (data) {
			console.log(data); // "Questo è l'output."
		},
		error: function (request) {
			console.log('Error: ' + request.status); // Si è verificato un errore durante la richiesta.
		}
	});

});

</script>


</body>
</html>