<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"  />



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>meteo</title>
  </head>
  <body>
   
   
   <div class="container">
   
   
   	<div class="row">
   			
   		<div class="col-md-12">
   		
   			<b th:text="${meteo}"></b>
   		
   			<br><br><br>
   		
   			<b th:text="'temperatura ' + ${meteo.temperature}"></b><br>
   		   	<b th:text="'Wind ' + ${meteo.wind}"></b><br>
   			<b th:text="'Descrizione ' + ${meteo.description}"></b><br>
   			
   			<span th:if="${meteo.description == 'Sunny'}">
   			
   			
   			<i class="fa fa-sun-o fa-5x"></i>
   			
   			</span>
   		
   		</div>	
   		
   		
   		<div class="col-md-4" th:each="forecast : ${meteo.forecast}">
   		
   		
   			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title" th:text="${forecast.day}">Card title</h5>
			    <p class="card-text" th:text="${forecast.temperature}"></p>
			   	<p class="card-text" th:text="${forecast.wind}"></p>
			    
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
   		

   		</div>
   		
   		
   		
   		
   	</div>
   
   
   </div>
   
   
   
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>