<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<title>resoconto crypto</title>
</head>
<body>
	<p>bo</p>
		
	<div class="container-fluid">
		<div class="row">				
			<div class="col-md-4" th:each="dati : ${dati.id}">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top img-fluid" src="https://www.varesenews.it/photogallery_new/images/2019/03/vario-728901.610x431.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title" th:text="${id.name}"></h5>
						<p class="card-text" th:text="${id.explorer}"></p>
						<p class="card-text" th:text="${id.rank}"></p>
						<p class="card-text" th:text="'variazione su ieri'+ ${id.changePercent24Hr}"></p>
						<p class="card-text" th:text="'prezzo unitario'+ ${id.priceUsd}"></p>
						<a href="#" class="btn btn-danger btn-block">acquista crypto ora!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>