	<!DOCTYPE html>
	<html lang="it" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>es  input in db automobile</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		
		<div class="container mt-5">
			<div class="row mt-5">
				<div class="col-12 mt-5 align-center">
					
					<form th:action="@{/postAutomobile}"  th:object="${automobile}" method="post">
						<div class="form-group">
							<label for="">marca </label>
							<input type="text" name="marca" class="form-control" th:field="*{marca}"  placeholder="marca">
						</div>
						<div class="form-group">
							<label  for="">alimentazione </label>
							<input type="text" name="alimentazione" class="form-control" th:field="*{alimentazione}"  placeholder=" alimentazione">
						</div>
						<div class="form-group">
							<label for="">data acquisto</label>
							<input type="date" name="dataAcquisto" class="form-control" th:field="*{dataAcquisto}"  placeholder="data_acquisto">
						</div>
						<div class="form-group">
							<label for="">cilindrata</label>
							<input type="number" name="cilindrata" class="form-control" th:field="*{cilindrata}" placeholder="cc">
						</div>

						<div class="form-group">
							<label for="">colore</label>
							<input type="color" name="colore" class="form-control" th:field="*{colore}" placeholder="cc">
						</div>

						<button type="submit" class="btn btn-danger">calcola</button>
					</form>

				</div>
			</div>
		</div>

		<div class="container mt-5">
			<div class="row">
				<div class="col-4 mt-3" th:each="automobile : ${lista_auto}">
					<div class="card" style="width: 18rem;">
						<i class="fas fa-car-side fa-10x" th:style="'color:' + ${automobile.colore}"></i>
						<div class="card-body">
							<h5 class="card-title" th:text="${automobile.marca}">	</h5>
							<p class="card-text" th:text="${automobile.cilindrata}">	</p>
							<p class="card-text" th:text="${automobile.alimentazione}" style="font-family: 'Limelight', cursive;">	</p>
							<p class="card-text" th:text="${automobile.dataAcquisto}">	</p>
							</div>
					  </div>
				</div>
			</div>
		</div>
		
	</body>
	</html>