<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-4" th:each="investitore : ${investitori}">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjWi9kn8c4-ABH1E6IoV6u2Tz8PbZq72YGfQ&usqp=CAU" alt="Card image cap">
                    <div class="card-body">
                    <p>l'investitore: <span class="card-text" th:text="'l investitore' + ${investitore.nominativo}"></span></p>
                    <p>investe con la banca: <span class="card-text" th:text="${investitore.banca.nomeBanca}"></span></p>
                        <div th:each="asset:${investitore.assets}">
                            <p>su: <span class="card-text" th:text="${asset.nome}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <p>---------------------------------------------------------------------------------------------------------------------------</p>
    
    <div class="container-fluid">
      <p>Using setInterval() to display the time every second (1000 milliseconds).</p>
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="max-width: 18rem;">
                    <img class="card-img-top img-fluid" style="max-width: 18rem;" src="https://assets.change.org/photos/6/xg/aq/HrXGaqjJbVlPYcq-800x450-noPad.jpg?1525088692" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">orario americano -NewYork-</p>
                        <b id="card1"></b><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="max-width: 18rem;">
                    <img class="card-img-top" style=" max-width: 18rem;" src="https://assets.change.org/photos/6/xg/aq/HrXGaqjJbVlPYcq-800x450-noPad.jpg?1525088692" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">orario Italiano - Roma -</p>
                        <b id="card2"></b><br>
                    </div>
                </div>  
            </div>
            <div class="col-sm-3">
                <div class="card" style="max-width: 18rem;">
                    <img class="card-img-top" style="max-width: 18rem;" src="https://assets.change.org/photos/6/xg/aq/HrXGaqjJbVlPYcq-800x450-noPad.jpg?1525088692" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">orario Giapponese - Tokio -</p>
                        <b id="card3"></b><br>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <p>---------------------------------------------------------------------------------------------------------------------------</p>

    <div class="container">
        <div class="row">
            <div class="col-6">
                 <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
     
    <script>

        setInterval("myFunction('America/New_York','card1')", 1000 );
        setInterval("myFunction('Asia/Tokyo','card2')", 1000 );
        setInterval("myFunction('Europe/Moscow','card3')", 1000 );
         
        function myFunction(myTimeZone , posizione) {
         
          var d = new Date();
         
          document.getElementById(posizione).innerHTML= d.toLocaleString("it-IT", {timeZone: myTimeZone }  );

        }
         
    </script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>
</html>