<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap 4 Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
</head>
<body>

<div class="container">
  <div class="container">
      <div class="row">
          <div class="col-10">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>nomeProdotto</th>
                    <th>quantità</th>
                    <th>Modifica</th>
                    <th>Cancella</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="prodotti : ${listaProdotti}">

                    <td th:text="${prodotti.id}"></td>
                    <td th:text="${prodotti.nome}"></td>
                    <td th:text="${prodotti.quantita}"></td>
                    <td><button class="btn btn-warning" data-toggle="modal" data-target="#modalModifica"  th:value="${prodotti.id}">Modifica</button></td>
                  <td><a class="btn btn-danger" th:href="@{/cancellaProdotto?id=} + ${prodotti.id}" >Cancella</a></td>
                  </tr>
                 
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalModifica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        
        <form th:action="@{/modificaProdotto}" method="post" th:object="${prodotto}">
        
        
          <label>Id</label><br>
         <input type="number" th:field="*{id}" id="id-prodotto" readonly="readonly"><br>
          
          <label>Nome prodotto</label><br>
        <input type="text" th:field="*{nome}" id="nome"><br> 
        
          <label>quantita</label><br>
         <input type="number" th:field="*{quantita}" id="quantita" ><br> 
        
        
          <input type="submit"><br>
          
        
        </form>
               
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- fine MODAL -->

</body>



</html>